<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">Manage Candidates</div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <%
                candidateData = data.filter((v, i, a) => v.CandidateId !== null && a.findIndex(t => (t.CandidateId === v.CandidateId)) === i);
                if(candidateData.length > 0) {
                %>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                <%
                    candidateData.forEach(function(candidate){
                        if (candidate.CandidateId) {
                %>
                <tr>
                    <td><a href="/hj9h8765qzf5jizwwnua/viewcandidate/<%= candidate.CandidateId %>" class="btn btn-primary btn-sm"><%= candidate.fName %> <%= candidate.lName %></a></td>
                    <td><%= candidate.Email %></td>
                </tr>
                <%
                        } else {}
                    });
                }
                else
                {
                %>
                <tr>
                    <td colspan="5">No Data Found</td>
                </tr>
                <%
                }
                %>
            </table>
        </div>
        <form action="/hj9h8765qzf5jizwwnua/register-candidate" method="POST">
            <button type="submit" class="primaryBtn">REGISTER NEW CANDIDATE</button>
        </form>
    </div>
</div>