<div class="container login">
    <form action="/hj9h8765qzf5jizwwnua" method="GET" class="login">
        <h3 class="formTitle">Log In</h3>
        Username : <%= username %>
        <br>
        Password: <%= password %>
        <br>
        IMPORTANT: Please note these credentials and share them with the user. They cannot
        be viewed again once this window is closed.
        <button type="submit" value="login" class="primaryBtn">CONTINUE</button>
    </form>
</div>