<div class="container login">
    <form action="/hj9h8765qzf5jizwwnua" method="GET" class="login">
        <h3 class="formTitle">Candidate Credentials</h3>
        Username : <%= username %>
        <br>
        Password: <%= password %>
        <br>
        IMPORTANT: Please note these credentials and share them with the user. They cannot
        be viewed again once this window is closed.
        <br>
        <button type="submit" class="primaryBtn">CONTINUE</button>
    </form>
</div>