<div class="vote-error" id="vote-error">
    <h3>Facial Recognition failed.</h3>
    <p id="errorMessage"></p>
    <button id="retry" class="primaryBtn">Try Again</button>
</div>

<div id="carouselInstructions" class="carousel slide" data-interval="false" data-wrap="false">
    <ol class="carousel-indicators">
        <li data-target="#" data-slide-to="0" class="active"></li>
        <li data-target="#" data-slide-to="1"></li>
        <li data-target="#" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container-authentication-intro-instructions" id="container-authentication-intro-instructions">
                <div class="d-flex flex-column align-items-center justify-content-center h-100">
                    <h3>Facial Recognition</h3>
                    <i class="fas fa-camera"></i>
                    <div class="d-flex align-items-center justify-content-center">
                        <p>Before you can vote, we need some additional verification.<br>Please ensure you are on a device with a sufficient camera and read the following instructions carefully.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-authentication-instructions" id="container-authentication-instructions">
                <div class="d-flex flex-column align-items-center justify-content-center h-100">
                    <h3>Position your face <br>inside the white frame</h3>
                    <div class="instructionImg">
                        <img src="/assets/Frame.gif" alt="Sample Face In Frame" id="faceSample">
                    </div>
                    <p> Ensure your face is clearly visible.<br>The frame will turn green when you are ready.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-authentication-liveness-instructions" id="container-authentication-liveness-instructions">
                <div class="d-flex flex-column align-items-center justify-content-center h-100">
                    <h3>Blink once firmly for the camera</h3>
                    <div class="instructionImg">
                        <img src="/assets/Blinking.gif" alt="Sample Firm Blink" id="blinkSample">
                    </div>
                    <p><i>Don't forget to open your eyes after!</i></p>
                    <button class="primaryBtnInverted" id="open-camera-btn">I UNDERSTAND. I'M READY!</button>
                    <br>
                    <div class="d-flex align-items-center justify-content-center">
                        <p><small><strong>NOTE:</strong> You will get a chance to review or retake your image if you move or blink at the wrong moment!</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <a class="carousel-control-prev" href="#carouselInstructions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselInstructions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container-advanced-authentication" id="container-advanced-authentication">
    <div id="camera-container" class="camera-container" style="background-color: rgba(0, 0, 0, 0.5); display: none;">
        <video id="video" autoplay></video>
        <button id="cancelbutton" class="close-btn">×</button>
    </div>

    <div id="confirm-dialog" class="confirm-dialog">
        <h3>Are you happy with your photo?</h3>
        <p>Ensure your face is clearly visible and you are not blinking.</p>
        <img id="photo-preview" src="" alt="Taken photo">
        <div class="d-flex align-items-center justify-content-center">
            <button id="retake" class="primaryBtn">× No</button>
            <button id="confirm" class="primaryBtn">✓ Yes</button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/face-landmarks-detection"></script>
<script src="https://cdn.jsdelivr.net/npm/@vladmandic/face-api/dist/face-api.min.js"></script>

<script>
    Promise.all([
        faceapi.nets.ssdMobilenetv1.loadFromUri('/models'),
        faceapi.nets.faceLandmark68Net.loadFromUri('/models'),
        faceapi.nets.faceExpressionNet.loadFromUri('/models'),
        faceapi.nets.faceRecognitionNet.loadFromUri('/models')
    ]).then(start);

    function start() {
        console.log('Service started.');
        const authenticateAdvancedContainer = document.getElementById('container-advanced-authentication');
        const id = '<%= data[0].Id %>';

        const openCameraBtn = document.getElementById('open-camera-btn');
        const cameraContainer = document.getElementById('camera-container');
        const video = document.getElementById('video');
        const cancelbutton = document.getElementById('cancelbutton');
        const confirmDialog = document.getElementById('confirm-dialog');
        const photoPreview = document.getElementById('photo-preview');
        const canvas = document.createElement('canvas');
        const instructions = document.getElementById('carouselInstructions');
        const errorMessage = document.getElementById('errorMessage');
        const errorMessageDiv = document.getElementById('vote-error');

        let stream = null;
        let data = null;

        var prevLandmarks = null;
        var prevFrameTime = null;
        var faceStable = false;
        var maxLandmarkMovement = 10;

        if (!confirmDialog.classList.contains('hidden')) {
            confirmDialog.classList.add('hidden');
        }
        errorMessageDiv.classList.add('hidden');

        openCameraBtn.addEventListener('click', function() {
            // Show camera container and hide other fields
            cameraContainer.style.display = 'block';
            authenticateAdvancedContainer.classList.add('camera-show');
            instructions.classList.add('hidden');

            const faceFrame = document.createElement('img');
            faceFrame.src = '/assets/Frame.png';
            faceFrame.id = 'face-frame';
            faceFrame.classList.add('white-frame');
            cameraContainer.appendChild(faceFrame);
            const frameBox = faceFrame.getBoundingClientRect();

            // Get user media
            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (mediaStream) {
                    stream = mediaStream;
                    video.srcObject = mediaStream;
                    video.play();
                    // When the video is playing, start the face detection and head movement check
                    video.addEventListener('playing', function () {
                        // Resize the canvas to match the video size
                        canvas.width = video.videoWidth;
                        canvas.height = video.videoHeight;

                        // Detect faces and face landmarks in each video frame
                        let headMovementInterval;
                        setInterval(function () {
                            faceapi.detectSingleFace(video).withFaceLandmarks().then(function (result) {
                                if (result) {
                                    if (faceFrame.classList.contains('green-frame')) {
                                            faceFrame.classList.add('white-frame');
                                            faceFrame.classList.remove('green-frame');
                                    }
                                    const faceBox = result.detection.box;
                                    var isInsideFrame = faceBox.x >= frameBox.x && faceBox.y <= frameBox.y
                                        && faceBox.top <= frameBox.top && faceBox.bottom <= frameBox.bottom
                                        && (window.innerHeight - faceBox.bottom) >= (window.innerHeight - frameBox.bottom);
                                    if (window.innerWidth > 450) {
                                        isInsideFrame = faceBox.x <= frameBox.x && faceBox.y <= frameBox.y;
                                    }

                                    if (isInsideFrame) {
                                        const landmarks = result.landmarks;
                                        // check if face is stable (i.e., landmarks have not moved too much since previous frame)
                                        var currentFrameTime = new Date().getTime();
                                        if (prevLandmarks != null && prevFrameTime != null) {
                                            var maxMovement = 0;
                                            for (var i = 0; i < landmarks._positions.length; i++) {
                                                var dx = landmarks._positions[i]._x - prevLandmarks._positions[i]._x;
                                                var dy = landmarks._positions[i]._y - prevLandmarks._positions[i]._y;
                                                var movement = Math.sqrt(dx*dx + dy*dy);
                                                if (movement > maxMovement) {
                                                    maxMovement = movement;
                                                }
                                            }
                                            if (maxMovement > maxLandmarkMovement) {
                                                faceStable = false;
                                            } else {
                                                faceStable = true;
                                            }
                                        }
                                        prevLandmarks = landmarks;
                                        prevFrameTime = currentFrameTime;

                                        if (faceStable && landmarks.getLeftEye() && landmarks.getRightEye() && landmarks.getMouth() &&
                                            landmarks.getNose() && landmarks.getJawOutline()) {
                                                if (faceFrame.classList.contains('white-frame')) {
                                                    faceFrame.classList.remove('white-frame');
                                                    faceFrame.classList.add('green-frame');
                                                }
                                                // Check if the user is blinking
                                                var leftEye = result.landmarks.getLeftEye();
                                                var rightEye = result.landmarks.getRightEye();
                                                var blinkTimeout = null;
                                                var blinkDelay = 1000;
                                                var blinkThreshold = 0.45;
                                                var blinkRatio = (leftEye[3].y - leftEye[1].y) / (leftEye[4].y - leftEye[0].y + rightEye[4].y - rightEye[0].y);
                                                if (blinkRatio < blinkThreshold) {
                                                    // User blinked
                                                    if (blinkTimeout == null) {
                                                        blinkTimeout = setTimeout(function() {
                                                            canvas.width = video.videoWidth;
                                                            canvas.height = video.videoHeight;
                                                            canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
                                                            data = canvas.toDataURL('image/png');
                                                            video.pause();
                                                            stream.getTracks()[0].stop();

                                                            photoPreview.src = data;
                                                            if (confirmDialog.classList.contains('hidden')) {
                                                                confirmDialog.classList.remove('hidden');
                                                            }
                                                            cameraContainer.style.display = 'none';
                                                            instructions.classList.add('hidden');
                                                                    blinkThreshold = null;
                                                        }, blinkDelay);
                                                    }
                                                }
                                        }
                                    } else {
                                        if (faceFrame.classList.contains('green-frame')) {
                                            faceFrame.classList.add('white-frame');
                                            faceFrame.classList.remove('green-frame');
                                        }
                                    }
                                }
                            });
                        }, 10);
                    });
                })
                .catch(function(err) {
                    console.log("An error occurred: " + err);
                });
            }
        });
        
        const retakeButton = document.getElementById('retake');
        const retryButton = document.getElementById('retry');
        const confirmButton = document.getElementById('confirm');

        retakeButton.addEventListener('click', function () {
            if (!confirmDialog.classList.contains('hidden')) {
                confirmDialog.classList.add('hidden');
            }
            instructions.classList.add('hidden');
            cameraContainer.style.display = 'block';

            if (!errorMessageDiv.classList.contains('hidden')) {
                errorMessageDiv.classList.add('hidden');
            }

            // Get user media
            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (mediaStream) {
                    stream = mediaStream;
                    video.srcObject = mediaStream;
                    video.play();
                })
                .catch(function(err) {
                    console.log("An error occurred: " + err);
                });
            }
            photoPreview.src = '';
        });

        retryButton.addEventListener('click', function () {
            if (!confirmDialog.classList.contains('hidden')) {
                confirmDialog.classList.add('hidden');
            }
            instructions.classList.add('hidden');
            cameraContainer.style.display = 'block';

            if (!errorMessageDiv.classList.contains('hidden')) {
                errorMessageDiv.classList.add('hidden');
            }

            // Get user media
            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (mediaStream) {
                    stream = mediaStream;
                    video.srcObject = mediaStream;
                    video.play();
                })
                .catch(function(err) {
                    console.log("An error occurred: " + err);
                });
            }
            photoPreview.src = '';
        });

        confirmButton.addEventListener('click', function () {
            // convert data to Blob object
            const byteString = atob(data.split(',')[1]);
            const ab = new ArrayBuffer(byteString.length);
            const ia = new Uint8Array(ab);
            for (let i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
            }
            const blob = new Blob([ab], { type: 'image/png' });

            // create FormData object and append file
            const imageFormData = new FormData();
            imageFormData.append('image', blob, 'image.png');

            try {
                fetch(`/vote/${id}/authenticate`, {
                    method: 'POST',
                    body: imageFormData
                })
                .then(response => {
                    if (response.status === 500) {
                        return response.text().then(error => {
                            authenticateAdvancedContainer.classList.remove('camera-show');
                            cameraContainer.style.display = 'none';
                            if (!confirmDialog.classList.contains('hidden')) {
                                confirmDialog.classList.add('hidden');
                            }
                            if (error.startsWith("<h1>")) {
                                errorMessage.textContent = 'Sorry, there was a problem. Please try again later.';
                                document.open();
                                document.write(error);
                                document.close();
                            } else {
                                errorMessage.textContent = error;
                            }
                            errorMessageDiv.classList.remove('hidden');
                        });
                    } else {
                        return response.text().then(htmlStr => {
                            document.open();
                            document.write(htmlStr);
                            document.close();
                        });
                    }
                });
            } catch (error) {
                console.error('Error uploading image:', error);
            }
        });

        // Cancel photo
        cancelbutton.addEventListener('click', function() {
            video.pause();
            video.srcObject.getTracks()[0].stop();
            cameraContainer.style.display = 'none';
            instructions.classList.remove('hidden');
            authenticateAdvancedContainer.classList.remove('camera-show');
            cameraContainer.style.display = 'none';
            console.log('Video stream stopped');
        });
    }
</script>