<h2>Welcome, <%= data[0].Username %>!</h2>

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manage Campaign</h5>
          <p class="card-text">Edit your own campaign page as it appears on the website, until it's just how
            you like it!
          </p>
          <a href="/hj9h/campaign" class="btn btn-primary">Manage</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manage Account</h5>
          <p class="card-text">View your account settings or reset your password.</p>
          <a href="/hj9h/settings" class="btn btn-primary">Manage</a>
        </div>
      </div>
    </div>
  </div>