<h2>Welcome, <%= data[0].Username %>!</h2>

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manage Campaign</h5>
          <p class="card-text">Edit your own campaign page as it appears on the website, until it's just how
            you like it!
          </p>
          <%
                    const now = new Date();
                    const electionDate = new Date(data[0].ElectionDate);
                    const openTime = new Date(data[0].OpenTime);
                    const closeTime = new Date(data[0].CloseTime);
                    const sameDate = now.toDateString() === electionDate.toDateString();
                    const pastDate =  now.toDateString() > electionDate.toDateString();
                    const withinInterval = now >= openTime;
                    if (withinInterval && sameDate || pastDate) {
          %>
          <p><small>This option is unavailable after voting begins</small></p>
          <% } else { %>
          <a href="/hj9h/campaign" class="btn btn-primary">Manage</a>
          <% } %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manage Account</h5>
          <p class="card-text">View your account settings or reset your password.</p>
          <a href="/hj9h/settings" class="btn btn-primary">Manage</a>
        </div>
      </div>
    </div>
  </div>